<% layout("/layouts/boilerplate") %>

    

        <h1>All Listings</h1>

        <!-- <form method="get" action="/listings/new">
        <button>Create New</button>
    </form> -->
        <% for(let listing of allListings){ %>
            <div class="card" style="width: 18rem;">
                <img src="<%= listing.image.url %>" class="card-img-top" alt="listing-image">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card’s content.</p>
                </div>
            </div>

            <% } %>

                <ul>
                    <% for(let listing of allListings){ %>
                        <li>
                            <a href="/listings/<%= listing._id %>">
                                <%= listing.title %>
                            </a>
                        </li>
                        <% } %>

                </ul>
