<% layout("/layouts/boilerplate") %>



    <h1>All Listings</h1>

    <!-- <form method="get" action="/listings/new">
        <button>Create New</button>
    </form> -->


    <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1">


        <% for(let listing of allListings){ %>
            <div class="card col" style="width: 20rem;">
                <img src="<%= listing.image.url %>" class="card-img-top" alt="listing-image">
                <div class="card-body">
                    <p class="card-text">
                        <%= listing.title %><br>
                            &#8377; <%= listing.price.toLocaleString("en-IN") %> / night
                    </p>
                </div>
            </div>

            <% } %>

    </div>
