<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new Listing</title>
</head>
<body>
    
    <h3>
        create a new listing
    </h3>

    <form method="post" action="/listings">
        <input name="title" placeholder="Enter the title" type="text"><br><br>
        <textarea name="description" cols="15" rows="10">Description</textarea><br><br>
        <input name="price" placeholder="Enter the price" type="number"><br><br>
        <input name="location" placeholder="Enter the location" type="text"><br><br>
        <input name="country" placeholder="Enter the country" type="text"><br><br>

        <button>Submit</button>
    </form>

</body>
</html>