/* body {
    background-color: pink;
} */

.navbar {
    height: 5rem;
    background-color: white;
}

.fa-compass {
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
}

/* footer  */
.f-info-links a {
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover {
    text-decoration: underline;
    color: rgba(96, 96, 255,0.8);
}

.f-info-links {
    width: 100%;
}

.f-info-socials {
    width: 100%;
    font-size: 1.6rem;
}

.f-info-socials i {
    margin-right: 1rem;
}

.f-info {
    height: 8rem;
    display: flex;
    text-align: center;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-evenly;
}